<!DOCTYPE html>
<html lang="<%= config.language %>">
  <head>
    <%- include('./includes/head', { siteTitle: config.title }) %>
  </head>
  <body>
    <div id="app" class="main">
      <%- include('./includes/header') %>

        <div class="content-container">
          
          <%- include('./includes/post-list-category') %>

        </div>

        <%- include('./includes/footer') %>

      </div>
      <%- include('./includes/scripts') %>
    </div>
  </body>
</html>
