<div class="site-footer">
  <div class="slogan"><%- config.description %></div>
  <div class="social-container">
    <% ['github', 'twitter', 'weibo', 'zhihu', 'facebook'].forEach((item) => { %>
      <% if (theme.contact[item]) { %>
        <a href="<%= theme.contact[item] %>" target="_blank">
          <i class="fab fa-<%= item %>"></i>
        </a>
      <% } %>
    <% }) %>
  </div>
  <% if (theme.bottom_source.enable) { %>
    Powered by <a href="https://hexo.io/" target="_blank">Hexo</a>
  <% } %>
  <% Object.keys(theme.bottom_link).forEach(function(key) { %>
  <% if (theme.bottom_link[key].url && theme.bottom_link[key].text) { %>
    <% if (theme.bottom_source.enable || show_divide) { %>
     |
    <% } else {var show_divide = true} %>
      <a class="<%= theme.bottom_link[key].class %>" href="<%- theme.bottom_link[key].url %>" target="_blank"><%- theme.bottom_link[key].text %></a>
  <% } %>
  <% }); %>
</div>
