<footer>
<div class="site-footer">
  <div class="social-container">
    <% ['github', 'twitter', 'weibo', 'zhihu', 'facebook'].forEach((item) => { %>
      <% if (theme.contact[item]) { %>
        <a aria-label="跳转至<%= item %>" href="<%= theme.contact[item] %>" target="_blank">
          <i class="icon icon-<%= item %>"></i>
        </a>
      <% } %>
    <% }) %>
  </div>
  <% if (theme.bottom_source.enable) { %>
    Powered by <a href="https://hexo.io/" target="_blank">Hexo</a> <a href="https://github.com/f-dong/hexo-theme-minimalism" target="_blank">Theme</a>
  <% } %>
  <% Object.keys(theme.bottom_link).forEach(function(key) { %>
  <% if (theme.bottom_link[key].url && theme.bottom_link[key].text) { %>
    <% if (theme.bottom_source.enable || show_divide) { %>
     |
    <% } else {var show_divide = true} %>
      <a href="<%- url_for(theme.bottom_link[key].url) %>" target="_blank"><%- theme.bottom_link[key].text %></a>
  <% } %>
  <% }); %>
</div>
</footer>


      </div>
    </div>
    <%- partial('includes/scripts', '') %>
  </body>
</html>
