<%
    var title = page.title;
    // tags, categories, about pages title
    if (title == 'tags') {
        title = '标签 | '+ config.title;
    } else if (title == 'categories') {
        title = '分类归档 | '+ config.title;
    } else if (title == 'about') {
        title = '关于 | '+ config.title;
    } else if (!title) {
        title = config.title;
    }

    // final page title.
    var pageTitle = title ? title + ' | ' + config.title : config.title;
    // keywords.
    var keyWords = config.keywords ? config.keywords : config.title;
    if (page.keywords) {
        keyWords = page.keywords;
    } else {
    	keyWords = title ? title  + ', ' + keyWords : keyWords;
    }
    // description.
    var description = config.description ? config.description : config.title;
    if (page.description) {
        description = page.description;
    } else if (page.summary) {
        description = page.summary;
    } else if (page.hasOwnProperty('__post') && page.__post) {
        description = strip_html(page.content).substring(0, 120);
    }
%>

<meta charset="utf-8" >

<title><%= title %></title>
<meta name="keywords" content="<%= keyWords %>">
<meta name="description" content="<%- description %>">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="<%= url_for('/favicon.ico') %>">
<link rel="stylesheet" href="<%= url_for('/style/main.css') %>">

<% if (theme.use_bootcdn) { %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css">

<% if (theme.gitalk.enable) { %>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/gitalk/1.7.2/gitalk.css"/>
<% } %>

<% } else { %>
<link rel="stylesheet" href="<%= url_for('/style/fontawesome.css') %>">
<link rel="stylesheet" href="<%= url_for('/style/katex.min.css') %>">

<% if (theme.gitalk.enable) { %>
    <link rel="stylesheet" href="<%= url_for('/style/gitalk.css') %>" />
<% } %>
<% } %>

<% if (theme.ga) { %>
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= theme.ga %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%= theme.ga %>');
</script>
<% } %>