<div class="site-header-container">
  <div class="site-header">
    <div class="left">
      <a href="<%= config.url %>">
        <img class="avatar" src="<%= theme.avatar %>" alt="" width="32px" height="32px">
      </a>
      <a href="<%= config.url %>">
        <h1 class="site-title"><%= config.title %></h1>
      </a>
    </div>
    <div class="right">
      <transition name="fade">
        <i class="icon menu-switch icon-menu-outline" ></i>
      </transition>
    </div>
  </div>
</div>

<transition name="fade">
  <div class="menu-container">
    <div class="menu-list">
      <% Object.keys(theme.menu).forEach(function(key) { %>
        <% if (theme.menu[key].openType === 'External') { %>
          <a class="menu purple-link" href="<%= url_for(theme.menu[key].url) %>" class="menu" target="_blank">
            <%= theme.menu[key].name %>
          </a>
        <% } else { %>
          <a href="<%= url_for(theme.menu[key].url) %>" class="menu purple-link">
            <%= theme.menu[key].name %>
          </a>
        <% } %>
      <% }); %>
    </div>
  </div>
</transition>
